body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial,sans-serif;
}

#gameContainer {
  text-align: center;
  background-color: #fff;
  border: 2px solid #ccc;
}